.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-field {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 10px;
}

.login-field .mat-form-field-label {
  color: black !important;
}

.login-field .mat-input-element {
  color: black;
}

.login-field.mat-focused .mat-form-field-outline {
  color: white;
  border-color: white;
}

.login-button {
  width: 100%;
  font-weight: bold;
}


.login-field .mat-form-field-suffix .mat-icon-button {
  padding: 6px;
}

.login-field .mat-form-field-suffix .mat-icon-button .mat-icon {
  vertical-align: middle;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7); 
}


.login-field.mat-focused .mat-form-field-suffix .mat-icon-button .mat-icon {
  color: rgba(0,0,0,0.9);
}

